@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Skranji&display=swap');
:root {
    --primary-color: #07004D;
    --secondary-color: #2D82B7;
    --accent1-color: #42E2B8;
    --accent2-color: #F3DFBF;
    --accent3-color: #EB8A90;

    --heading-font: 'Skranji', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #42E2B8;
    --nav-link-color: #07004D;
    --nav-hover-link-color: #F3DFBF;
    --nav-hover-background-color: #2D82B7;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

html, body {
    width: 100%;
}

/*header
header {
    padding: 20px;
    background-color: var(--secondary-color);
    height: 164px;
}

header img {
    float: left;
    margin-right: 60px;
}

header nav {
	margin: 50px;
	width: auto;
	height: auto;
}

header nav a {
    border: 1px solid #000;
    width: 100px;
}

*/
/*hero*/
.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.hero article img {
    position: absolute;
    top: 150px;
    right: 0px;
    padding: 20px;
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
}
.hero article p {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 100px;
}

/*
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
*/
footer nav a {
    text-decoration: none;
}